.venv/
.ipynb_checkpoints/
.DS_Store
.env
.venv/
.vscode/
experiments/
__pycache__/
build/
.idea/
*.egg-info/
.pytest_cache/
.ruff_cache/
.ruff_cache/
src/data_loader/data/8/
data/*
raw_data
app/__pycache__/
app/inference/inference_data.csv